---
title: nunjucks `center` filter test
tags:
  - center
---

<p>Input: <code>&lbrace;&lbrace; "panda bears" | center | dump &rbrace;&rbrace;</code></p>
<p>Output:
  <pre>
  {{ "panda bears" | center | dump }}
  </pre>
</p>
