---
title: nunjucks `list` test
string: "1,2,34,7"
array: [one, two, three]
object: {one: "One", two: "Two", three: "Three"}
tags:
  - list
---

<h2>Example 1: Converting a string to a list</h2>
<p>Input: <code>&lbrace;&lbrace; {{ string | dump }} | list &rbrace;&rbrace;</code></p>
<p>Output:
  <ul>
    {%- for i in string | list -%}
    <li>{{i}}</li>
    {%- endfor -%}
  </ul>
</p>

<hr />

<h2>Example 2: Converting an array to a list</h2>
<p>Input: <code>&lbrace;&lbrace; {{ array | dump }} | list &rbrace;&rbrace;</code></p>
<p>Output:
  <ul>
    {%- for i in array | list -%}
    <li>{{ i }}</li>
    {%- endfor -%}
  </ul>
</p>

<hr />

<h2>Example 3: Converting an object to a list</h2>
<p>Input: <code>&lbrace;&lbrace; {{ object | dump }} | list &rbrace;&rbrace;</code></p>
<p>Output: 
  <ul>
    {%- for i in object | list -%}
    <li><code>{{ i | dump }}</code></li>
    {%- endfor -%}
  </ul>
</p>
